<!doctype html>
    <html>
        <link rel="stylesheet" href="{{ url_for ('static', filename ='style.css') }}">
        <head>
            <title>{{ title }}</title>
        </head>
        <body>
            <header>
            <h2> Flask : Présentation et Description </h2>
            <p><em>Flask</em> est un micro-framework web écrit en Python, conçu pour être simple, léger, flexible et facile à utiliser. 
                Il permet de créer des applications web rapidement tout en offrant la possibilité d’étendre ses fonctionnalités selon les besoins du développeur.
            </p>
        </header>
        <div>
            <h2>Origine et Contexte</h2>
            <p group="pointer">Créé par Armin Ronacher en 2010, Flask s’inspire du framework Ruby Sinatra, qui est également minimaliste.</p>
            <p group="pointer"></p>
        </div>
        </body >
    </html>